html{
  font-size: 10px;
}
body{
  margin: 0;
  background-color: #8dc63f;
  font-family: "Arial";
}
.clear:after{
  content: "";
  clear: both;
  display: block;
}
.wrapper{
  margin: 0 auto;
  padding: 0 16px;
  max-width: 960px;
  box-sizing: border-box;
  background-color: #fff;
}
.header{
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
}
.logo img{
  transition: all 1s ease;
}
.logo img:hover{
  padding-left: 300px;
}
.logo p,
.contact-info a{
  margin: 0;
  font-size: 2.2rem;
  color: #39930d;
  text-decoration: none;
  display: inline-block;
}

.logo b{
  display: block;
  margin-right: 35px;
  font-size: 4.4rem;
}
.logo i,
.contact-info i{
  font-size: 1.4rem;
  color: #5a5a5a;
}
.main{
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.scope{
  max-width: 600px;
}
.contact-info i{
  display: block;
  text-align: right;
}
.contact-info a{
  padding-bottom: 10px;
}
.image{
  width: 100%;
}
.scope h1{
  font-size: 2.4rem;
  color: #39930d;
}
.scope p{
  font-size: 1.4rem;
  line-height: 1.5em;
  color: #343434;
}
.menu{
  width: 300px;
}
.menu p{
  padding: 15px 20px 10px;
}
.menu p,
.copyright{
  color: #fff;
  background-color: #39930d;
  font: 1.8rem "Arial";
}
.menu ul{
  list-style: none;
  padding: 0 20px;
}
.menu a{
  display: block;
  font-size: 1.4rem;
  line-height: 30px;
  color: #39930d;
  text-transform: uppercase;
  transition: all 1s ease;
}
.menu a:hover{
  padding-left: 20px;
  background-color: rgba(52, 52, 52, 0.5);
  text-decoration: none;
  color: #fff;
}
.copyright{
  margin: 0 -16px;
  padding: 15px;
  font-size: 14px;
}
@media screen and (max-width: 932px){
  .scope{
    max-width: 100%;
  }
  .main{
    flex-direction: column;
  }
  .menu{
    width: 100%;
  }
}
@media screen and (max-width: 620px){
   .header{
    flex-direction: column; 
    align-items: center;
   }
   .logo{
     margin-bottom: 20px;
   }
   .contact-info i{
     text-align: center;
   }
   .image{
     min-height: 200px;
     object-fit: cover;
     object-position: 75% center;
   }
  }
   @media screen and (max-width: 390px){
     .logo{
      flex-direction: column; 
      align-items: center;
      text-align: center;
     }
     .logo p{
      margin-bottom: 12px;
     }
     .logo b{
       margin: 0;
     }
   }
   @media screen and (max-width: 285px){
     html {
       font-size: 6px;
     }
   }
